<mat-toolbar class="navbar">
    <h3><img src="\assets\ELM.jpg" class="logo"> Student Database</h3>
   <div>
     <span> <button class="btn btn-success">Add</button></span>

   </div>
 </mat-toolbar>

 <hr>
 <div class="studentCard">
    <h2 class="studentInfo">
        Id: 4
        <p style="white-space: pre-wrap"></p>
        First name:  Ryan
        <p style="white-space: pre-wrap"></p>
        Last Name: Albilihi
        <p style="white-space: pre-wrap"></p>
        Email: abs@msn.coooom
        <p style="white-space: pre-wrap"></p>
        Created at: 2017-3-5
    </h2>
    <span><button class="btn btn-warning">update</button></span>
    <span><button class="btn btn-danger">Delete</button></span>
 </div>

