.card{
    background-color:aliceblue
}


/* mat-toolbar{ 
    color: aliceblue;
    height: 50px;
    align-items: center;
} 
.navbar{
    justify-content: space-between;
    background-color: rgb(0, 0, 142);
    height: auto;
    align-items: center;
}

span{
    padding-right: 1rem;
}

.studentCard{
    width: 220px;
    height: auto;
    background-color: rgb(0, 0, 142);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    
    
}
.studentInfo{
    font-size: medium;
}

.logo{
    
    height: 30px;
} */
