<div class ="container">
  <div class = "card">
      <h3 class="text-center"> students List</h3>
      <div class = "card-body">
          <table class="table table-striped">
              <thead>
                  <th>Id</th>
                  <th> First Name</th>
                  <th> Last Name</th>
                  <th> Email </th>
                  <th> Created at </th>
              </thead>
              <tbody>
                  <tr *ngFor = "let Student of students">
                      <td> {{ Student.id}}</td>
                      <td> {{ Student.firstName}}</td>
                      <td> {{ Student.lastName}}</td>
                      <td> {{ Student.email}}</td>
                      <td> {{ Student.created_at}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>



<!-- <mat-toolbar class="navbar">
    <h3><img src="\assets\ELM.jpg" class="logo"> Student Database</h3>
   <div>
     <span> <button class="btn btn-success">Add</button></span>

   </div>
 </mat-toolbar>

 <hr>
 <div class="studentCard">
    <h2 class="studentInfo">
        Id: 4
        <p style="white-space: pre-wrap"></p>
        First name:  Ryan
        <p style="white-space: pre-wrap"></p>
        Last Name: Albilihi
        <p style="white-space: pre-wrap"></p>
        Email: abs@msn.coooom
        <p style="white-space: pre-wrap"></p>
        Created at: 2017-3-5
    </h2>
    <span><button class="btn btn-warning">update</button></span>
    <span><button class="btn btn-danger">Delete</button></span>
 </div> -->

